Makefile
Makefile.in
TAGS
po/
*.o
*.lo
*.la
.deps/
.libs/
*.log
stamp-h1
autom4te.cache
config.h*
config.status
configure
doxygen-output
libtool
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
build-aux
aclocal.m4
.dirstamp
src/demo
